<ul class="main-navigation">
  <li><a href="{{ root_url }}/">文章</a></li>
  <li><a href="{{ root_url }}/blog/archives">存档</a></li>
</ul>
<p style="display: inline-block; margin: 0; padding: 0; float: right;"><a style="float: right;" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=25126f523bb03ebf58046e7665bbfbc13d4cb6162aecb93e494f13187b5694b4"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="Dart语言学习交流群" title="Dart语言学习交流群"></a>&nbsp;&nbsp;&nbsp;Dart语言学习交流群：</p>
<p style="display: inline-block; margin: 0; padding: 0; float: right;"><a style="float: right;" target="_blank" href="http://www.dart-china.org"><img border="0" src="/images/custom/dart/dart_china.png" alt="Dart中文社区" title="Dart中文社区"></a>Dart中文社区：</p>
